<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="slForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" formControlName="name" class="form-control">
        </div>
        <div class="col-sm-2  form-group">
          <label for="amount">Amount</label>
          <input pattern="^[1-9]+[0-9]*$" type="number" id="amount" name="amount" formControlName="amount" class="form-control">
        </div>
        <br />
        <span style='font-size: 16px; color: red; float: left; clear: left; padding-left: 15px;' *ngIf="!slForm.get('name').valid && slForm.get('name').touched" class="help-block">
          <span *ngIf="slForm.get('name').errors['itemExists']">Another Ingredient with that name already is in list!</span>
        </span>
      </div>
      <!--*ngIf="slForm.get('name').errors['itemExists']"-->
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="slForm.invalid" class="btn btn-success" type="submit">{{ editMode == true ? "Update": "Add"}}</button>
          <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
